/* Colors: 
    dark-gray: rgb(31, 28, 30);
    not-so-dark-gray: rgb(65, 60, 60);
    blue: rgb(151, 210, 247);
*/

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0 0.5%;
  background-color: rgb(31, 28, 30);
}

.centered-text {
  text-align: center;
}

.top {
  width: 100%;
  height: 25%;
  position: relative;
}

.title {
  align-items: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 75%;
  padding: 1% 0%;
  max-height: 65%;
  border-radius: 25px;
  background-color: rgb(151, 210, 247);
}

.content {
  box-sizing: border-box;
  height: 75%;
  width: 75%;
  margin: auto;
  padding-top: 3%;
  background-color: rgb(65, 60, 60);
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
}

.exercises {
  overflow: hidden;
}

.exercises:hover {
  overflow: auto;
  padding-right: 1px;
}

#horizontalLine {
  margin: auto;
  background-color: rgb(31, 28, 30);
  width: 85%;
  height: 1%;
}

.footer {
  height: 11%;
  width: 80%;
  display: flex;
  /* flex-direction: column; */
  margin: auto;
  /* background-color: rgb(31, 28, 30);
  border-radius: 25px; */
}

#divFooterLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 99%;
  height: 50%;
  background-color: rgb(31, 28, 30);
  border-radius: 25px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 80%;
  border-radius: 25px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
}

.active-page {
  background-color: rgb(65, 60, 60);
  /* animation: HoverMove; */
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.white-text {
  color: white;
}

.bold-text {
  font-weight: bold;
}

.exercises {
  height: 89%;
  width: 80%;
  margin: auto;
  /* display: flex; */
  flex-wrap: wrap;
  /* align-content: space-around; */
}

.card-row {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  display: flex;
  /* flex: 1 0 41%; */
  margin: 1.5% 2.5%;
  padding: 1%;
  min-width: 45%;
  background-color: rgb(31, 28, 30);
  border-radius: 25px;
}

.card-image {
  max-width: 250px;
  max-height: 250px;
  min-width: 75px;
  min-height: 75px;
}

.card:hover {
  background-color: rgb(151, 210, 247);
}

.rounded-image {
  border-radius: 25px;
}

.rounded-pill {
  width: 25%;
  height: 25%;
  border-radius: 50px;
  background-color: rgb(151, 210, 247);
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-133 {
  width: 133%;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-25 {
  width: 25%;
}

.h-100 {
  height: 100%;
}

.h-60 {
  height: 60%;
}

.h-40 {
  height: 40%;
}

.h-25 {
  height: 25%;
}

li {
  list-style: none;
}

.li-image::before {
  content: "";
  display: inline-block;
}

.logo-ceit::before {
  height: 16px;
  width: 30px;
  background-image: url("imagenes/CeitLogo.png");
}

@keyframes HoverMove {
  0% {
    width: 33%;
  }
  /* 47.5% {
    width: 50%;
  } */
  95% {
    width: 150%;
  }
  100% {
    width: 33%;
  }
  /* from {
    left: 0px;
    background-color: red;
  }
  to {
    top: 300px;
    background-color: red;
  }*/
}

.clear {
  clear: both;
}
