/*#region Variables*/
/* Colors: 
    dark-gray: rgb(31, 28, 30);
    not-so-dark-gray: rgb(79, 72, 72);
    blue: rgb(151, 210, 247);
    green: rgb(151, 247, 186);
    yellow: rgb(247, 247, 151);
    purple: rgb(223, 151, 247);
    red: rgb(247, 151, 151);
*/
:root {
  --dark-gray: rgb(31, 28, 30);
  --not-so-dark-gray: rgb(79, 72, 72);

  --blue: rgb(151, 210, 247);
  --green: rgb(151, 247, 186);
  --yellow: rgb(247, 247, 151);
  --purple: rgb(223, 151, 247);
  --red: rgb(247, 151, 151);

  --background-color: var(--not-so-dark-gray);
  --background-color-2: var(--dark-gray);

  --text-white: rgb(255, 255, 255);
  --text-black: rgb(0, 0, 0);
  --text-color: var(--text-white);

  --main-color: var(--green);
}

/*#endregion */

/*#region body & html*/

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0 0.5%;
  background-image: url("imagenes/background-green.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color);
}

/*#endregion */

/*#region text*/
.centered-text {
  text-align: center;
}
.white-text {
  color: var(--text-white);
}

.black-text {
  color: var(--text-black);
}

.bold-text {
  font-weight: bold;
}
/*#endregion */

/*#region Top*/
.top {
  width: 100%;
  height: 25%;
  position: relative;
}

.title {
  align-items: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 75%;
  padding: 1% 0%;
  max-height: 65%;
  border-radius: 250px;
  border: 1px solid var(--background-color);
  background-color: var(--main-color);
}
/*#endregion */

/*#region Views*/

.content {
  box-sizing: border-box;
  height: 75%;
  width: 75%;
  margin: auto;
  padding-top: 3%;
  background-color: var(--background-color);
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
}

.main {
  height: 89%;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  overflow: auto;
}

.exercises {
  margin: auto;
  flex-wrap: wrap;
  overflow: auto;
}

.card-row {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  display: flex;
  /* flex: 1 0 41%; */
  margin: 1.5% 2.5%;
  padding: 1%;
  min-width: 45%;
  background-color: var(--background-color-2);
  border-radius: 25px;
}

.rounded-image {
  border-radius: 25px;
}

.rounded-pill {
  width: 25%;
  height: 4em;
  border-radius: 50px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-item {
  margin-right: 5em;
}

.info-item-content {
  padding: 1em 2em;
}

#horizontalLine {
  margin: auto;
  background-color: var(--background-color-2);
  width: 85%;
  height: 1%;
}

.card-image {
  width: 6.1em;
  height: 6.1em;
  /* max-width: 250px;
  max-height: 250px;
  min-width: 75px;
  min-height: 75px; */
}

.card:hover {
  background-color: var(--main-color);
  color: var(--text-black);
}
/*#endregion */

/*#region Forms*/

.selector {
  padding: 1.5em;
  /* padding-right: 2em; */
  color: var(--text-color);
  /* appearance: none; */
  background-color: var(--background-color);
  border: 1px solid var(--background-color-2);
  border-radius: 55px;
}

.selector-option {
  padding: 1.5em;
  /* background-color: red; */
}

.last-option {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.color-button-div {
  position: fixed;
  /* width: 60px;
  height: 60px; */
  width: 4em;
  height: 4em;
  bottom: 1em;
  right: 1em;
  border-radius: 50px;
  background-color: var(--main-color);
  box-shadow: 2px 2px 3px black;
}

.color-button-div-parent {
  position: fixed;
  width: 4em;
  height: 4em;
  bottom: 1em;
  right: 1em;
}

.color-button {
  background-color: var(--main-color);
  width: 4.5em;
  height: 4.5em;
  border-radius: 50px;
  border: 3px solid var(--background-color-2);
  text-align: center;
}

.color-button-small {
  width: 3.5em;
  height: 3.5em;
  margin-top: 0.5em;
}

.hidden {
  display: none;
}

.color-button-list {
  position: fixed;
  flex-direction: column;
  width: 5em;
  align-items: center;

  bottom: 5em;
  right: 0.5em;
  padding-bottom: 0.5em;
}

/*#endregion*/

/*#region Footer*/

.footer {
  height: 11%;
  width: 81%;
  display: flex;
  /* flex-direction: column; */
  margin: auto;
  /* background-color: var(--background-color-2);
  border-radius: 25px; */
}

#divFooterLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 99%;
  height: 50%;
  background-color: var(--background-color-2);
  border-radius: 25px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 80%;
  border-radius: 25px;
  background-color: var(--background-color-2);
}

.active-page {
  background-color: var(--background-color);
  /* animation: HoverMove; */
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/*#endregion */

/*#region Flex and positioning*/
.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*#endregion */

/*#region Margin and positioning*/

.no-margin {
  margin: 0;
}

.no-top-margin {
  margin-top: 0;
}

.no-padding {
  padding: 0;
}

/*#endregion */

/*#region h-xx w-xx*/

.w-133 {
  width: 133%;
}

.w-100 {
  width: 100%;
}

.w-95 {
  width: 95%;
}

.w-90 {
  width: 90%;
}

.w-85 {
  width: 85%;
}

.w-75 {
  width: 75%;
}

.w-25 {
  width: 25%;
}

.h-100 {
  height: 100%;
}

.h-90 {
  height: 90%;
}

.h-85 {
  height: 85%;
}

.h-60 {
  height: 60%;
}

.h-40 {
  height: 40%;
}

.h-25 {
  height: 25%;
}

.h-15 {
  height: 15%;
}

.h-10 {
  height: 10%;
}

/*#endregion */

li {
  list-style: none;
}

.li-image::before {
  content: "";
  display: inline-block;
}

.logo-ceit::before {
  height: 16px;
  width: 30px;
  background-image: url("imagenes/CeitLogo.png");
}

@keyframes HoverMove {
  0% {
    width: 33%;
  }
  /* 47.5% {
    width: 50%;
  } */
  95% {
    width: 150%;
  }
  100% {
    width: 33%;
  }
  /* from {
    left: 0px;
    background-color: red;
  }
  to {
    top: 300px;
    background-color: red;
  }*/
}
/*#region Scrollbar*/
::-webkit-scrollbar {
  margin-right: 1%;
  width: 40px;
  background-color: var(--background-color-2);
  border-radius: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  background: var(--main-color);
  border-radius: 25px;
  border: 18px solid transparent;
  background-clip: content-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 25px;
  border: 8px solid transparent;
  background-clip: content-box;
}

/*#endregion */

.reset-this {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
