body{
	background-color: #FFCC66;
}

a{
	color:green;
	text-decoration: none;
}

a:hover{
	color:red;
	text-decoration: underline;
}

h2{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: #6666FF;
}

p{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

.urko{
	color:white;
}