/**
	* Aunque sea SASS, estoy utilizando las variables de CSS
	* Sé que no es lo lógico, pero es para poder cambiar sus valores desde JS
	* Al compilar evidentemente las variables de SASS no pueden cambiar, 
	* sin embargo las de CSS sí
	*/

:root
	--dark-gray: rgb(31, 28, 30)
	--not-so-dark-gray: rgb(79, 72, 72)

	--blue: rgb(151, 210, 247)
	--green: rgb(151, 247, 186)
	--yellow: rgb(247, 247, 151)
	--purple: rgb(223, 151, 247)
	--red: rgb(247, 151, 151)

	--background-color: var(--not-so-dark-gray)
	--background-color-2: var(--dark-gray)

	--text-white: rgb(255, 255, 255)
	--text-black: rgb(0, 0, 0)
	--text-color: var(--text-white)

	--main-color: var(--green)
	--secondary-color: var(--blue)

	--droppable:rgb(66,106,18)
	--not-droppable:rgb(108,10,10)

	--border-radius-l: 60px
	--border-radius-m: 25px
	--border-radius-s: 15px

	// Z index
	--front: 100
	--low-front: 50
	--mid-front: 75

body
	color: white 
	background-color: var(--background-color) !important
	overflow: hidden

.divImages
	height: 5rem
	width: 5rem
	display: flex
	justify-content: center
	align-items: center

#divPrincipal
	background-color: var(--main-color)
	padding: 0rem 6rem
	border-radius: var(--border-radius-l)

	#tituloPrincipal
		text-align: center

	#divContainer
		overflow: auto


#mapContainer
	position: absolute
	bottom:0
	left: 0
	padding: 5px
	border-bottom: none
	border-top-right-radius: var(--border-radius-s)
	background-color: var(--secondary-color)
	z-index: var(--mid-front)

	#mapTop
		height: 1.5rem
		width: 40rem
		background-color: var(--secondary-color)
		display: flex
		justify-content: center
		color: var(--text-black)
		font-weight: bold
		cursor: pointer
		border-radius: var(--border-radius-s)

	#map
		position: relative 
		height: 20rem
		width: 40rem
		// border-top-right-radius: 15px

	#divError
		position: absolute
		bottom: 0
		left: 0
		display: flex
		justify-content: center
		align-items: center
		height: 20rem
		width: 40rem
		border-top-right-radius: var(--border-radius-s)
		height: 20rem
		width: 40rem
		z-index: 1000
		background-color: #c94242
		border: 5px dashed rgba(168, 50, 50, 1)
		text-align: center
		font-size: 2rem

.imgDraggableList
	width: 30rem
	margin: auto
	background-color: var(--background-color)
	border-radius: var(--border-radius-m)

.imgDraggable
	height: 5rem

.imgDraggableSmall
	height: 4rem

.infoTiempo
	margin: 1rem
	padding: 2rem
	border-radius: var(--border-radius-m)
	background-color:  var(--background-color)
	color: var(--text-color)

.canAccept
	background-color: var(--droppable)

.cannotAccept
	background-color: var(--not-droppable)

// SETTINGS DIV

#show
	// background-color: red 

.color-button-div 	
	position: fixed
	/* width: 60px
	height: 60px
	width: 4em
	height: 4em
	bottom: 1em
	right: 1em
	border-radius: 100px
	background-color: var(--main-color)
	box-shadow: 2px 2px 3px black

.color-button-div-parent 
	position: fixed
	width: 4em
	height: 4em
	bottom: 1em
	right: 1em

.color-button 
	background-color: var(--main-color)
	width: 3.7em
	height: 3.7em
	border-radius: 100px
	border: 3px solid var(--background-color-2)
	text-align: center

.settings
	background: url(../images/settings-stopped.gif)
	background-repeat: no-repeat
	background-position: center
	background-size: 3.5em

.color-button-small 
	width: 3.5em
	height: 3.5em
	margin-top: 0.5em

.color-button-list 
	padding: 0em 1em
	align-items: center
	background-color: var(--main-color)
	border: 3px solid var(--background-color-2)
	position: fixed
	flex-direction: row
	align-items: center
	bottom: 12em
	right: 1em
	padding-bottom: 0.5em
	border-radius: 25px

.color-button-list-2
	padding: 0em 1em
	align-items: center
	background-color: var(--secondary-color)
	border: 3px solid var(--background-color-2)
	position: fixed
	flex-direction: row
	align-items: center
	bottom: 5em
	right: 1em
	padding-bottom: 0.5em
	border-radius: 25px

.color-title
	// transform: rotate(-90deg)
	width: 150px

.hidden
	display: none