$dark-gray: rgb(31, 28, 30)
$not-so-dark-gray: rgb(79, 72, 72)

$blue: rgb(151, 210, 247)
$green: rgb(151, 247, 186)
$yellow: rgb(247, 247, 151)
$purple: rgb(223, 151, 247)
$red: rgb(247, 151, 151)

$body-bg: $not-so-dark-gray
$background-color-2: $dark-gray

$text-white: rgb(255, 255, 255)
$text-black: rgb(0, 0, 0)
$text-color: $text-white

$main-color: $green

// Z index
$front: 100
$almost-front: 75
	

body 
	color: white 
	background-color: $body-bg

#divPrincipal
	background-color: $blue

#divError
	position: fixed
	z-index: $almost-front
	background-color: rgba(168, 50, 50, 0.8)
	border: 5px dashed rgba(168, 50, 50, 1)
	border-radius: 25px

#mapContainer
	position: absolute
	bottom:0
	left: 0
	padding: 5px
	// padding: 5px
	border-radius: 5px	
	background-color: $main-color
	z-index: $front

#map 
	height: 20rem
	width: 40rem
	border-radius: 5px

#mapTop
	height: 1.5rem
	width: 40rem
	background-color: $main-color
	display: flex
	justify-content: flex-end

.hidden
	visibility: hidden